<!DOCTYPE html>
<html>
	<head>
		<title>bridgs</title>
		<meta id="meta" name="viewport" content="width=device-width,initial-scale=1.0" />
		<style>
			.centered-content {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
			.grid {
				position: relative;
			}
			.grid-tile {
				position: absolute;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>bridgs</h1>
		</header>
		<section>{{{content}}}</section>
	</body>
</html>